<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977514412233-doa6s317bid6kjg50eml4mesbs17gggg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977514412233-doa6s317bid6kjg50eml4mesbs17gggg</string>
	<key>API_KEY</key>
	<string>AIzaSyDOMk6ayUFeNUHRFGu2_4S4sdcMJ_zNDkU</string>
	<key>GCM_SENDER_ID</key>
	<string>977514412233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alikarababa.ToDoListApp</string>
	<key>PROJECT_ID</key>
	<string>todolistapp-bc3a3</string>
	<key>STORAGE_BUCKET</key>
	<string>todolistapp-bc3a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977514412233:ios:9d8e71902ead5ad6b27518</string>
</dict>
</plist>